@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply bg-gray-100 shadow-inner focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-90 py-3 px-5 rounded-lg text-black
}
.search-input {
  @apply  py-3 px-5 sm:w-3/4 w-full md:w-4/12 rounded-3xl border-0 text-black
}

.btn {
  @apply mt-3 py-3 text-white text-lg font-semibold px-3 bg-orange-500 hover:bg-orange-700 transition-colors focus:outline-none rounded-lg
}

.link {
  @apply text-orange-500 hover:underline
}

.page-container {
  @apply mx-4 rounded-lg
}







body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}